In [1]:
import load_data

In [2]:
df = load_data.get()

In [3]:
df.head()

,type,id,geometry_type,geometry_coordinates_lat,geometry_coordinates_lon,geometry_name,properties_gid,properties_join_id,properties_adm_id,properties_type,...,properties_maint_1,properties_maint_2,properties_maint_3,properties_note,properties_ori_val,properties_cur_val,properties_point_x,properties_point_y,properties_du_key_wor,properties_fr_key_wor
0,Feature,artistic_heritage.1,Point,149292.843,172499.990,geom,1,48,101.0,MON,...,None,None,None,None,"0,00 ?","0,00 ?",149292.843,"172499,99",None,None
1,Feature,artistic_heritage.2,Point,149248.376,172364.053,geom,2,42,102.0,MON,...,None,None,None,None,"0,00 ?","0,00 ?",149248.376,"172364,053",None,None
2,Feature,artistic_heritage.3,Point,149218.916,172274.192,geom,3,618,103.0,MON,...,None,None,None,None,"0,00 ?","0,00 ?",149218.916,"172274,192",None,None
3,Feature,artistic_heritage.4,Point,149190.660,172188.182,geom,4,66,104.0,MON,...,None,None,None,None,"0,00 ?","0,00 ?",149190.660,"172188,182",olifant laars,éléphant botte
4,Feature,artistic_heritage.5,Point,149137.525,172026.570,geom,5,54,105.0,MON,...,None,None,None,None,"0,00 ?","0,00 ?",149137.525,"172026,57",None,None

In [4]:
df.columns

Index(['type', 'id', 'geometry_type', 'geometry_coordinates_lat',
       'geometry_coordinates_lon', 'geometry_name', 'properties_gid',
       'properties_join_id', 'properties_adm_id', 'properties_type',
       'properties_style', 'properties_water', 'properties_fr_name',
       'properties_du_name', 'properties_fr_ad_1', 'properties_du_ad_1',
       'properties_fr_ad_2', 'properties_du_ad_2', 'properties_rd_st',
       'properties_man', 'properties_artist', 'properties_arch',
       'properties_servant', 'properties_contractor', 'properties_build_year',
       'properties_mod_year_1', 'properties_mod_year_2', 'properties_maint_1',
       'properties_maint_2', 'properties_maint_3', 'properties_note',
       'properties_ori_val', 'properties_cur_val', 'properties_point_x',
       'properties_point_y', 'properties_du_key_wor', 'properties_fr_key_wor'],
      dtype='object')

In [5]:
df.shape

(104, 37)

In [14]:
c = df["properties_contractor"].value_counts()
c.name = "count"
c.index.name = "Contractor"

In [15]:
c.to_frame().to_csv("../contractors.csv")